{% extends "bsbase.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Flask集成bootstrap（模板继承）{% endblock %}

{% block page_content %}
    <div class="page-header">

        <h1>Hello, {% if name %}{{ name }}{% else %}Stranger{% endif %}!</h1>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4 class="panel-title">表单数据录入</h4>
        </div>

        <div class="panel-body">
            {{ wtf.quick_form(form) }}
        </div>

    </div>


    <div class="panel panel-default">
        <div class="panel-heading">
            <a href="#">Inbox <span class="badge">{% if name %}{{ name }}{% else %}0{% endif %}</span></a><h4 class="panel-title">表单数据录入</h4>
        </div>
        <div class="panel-body">
            <form method="POST" class="form-horizontal">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">{{ form.name.label }}</label>
                    <div class="col-xs-5">
                        {{ form.name(class="form-control",placeholder="数据信息") }}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        {{ form.submit(class="btn btn-warning") }}
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}